/* ===== BASE STYLES & GLOBAL RESET ===== */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    -webkit-focus-ring-color: transparent;
    outline: none;
}

:focus{
    outline: none;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--font);
}

/* ===== ROOT VARIABLES ===== */
:root {
    /* ----- Colors ----- */
    --clr-1: #FF902A;
    --clr-2: #2F2105; 
    --clr-3: #6B6B6B;
    --clr-4: #F8EBD8;
    --clr-5: #FFFFFF;

    /* ----- Spacing ----- */
    --gap-1: 1rem;
    --gap-2: 2rem;
    --gap-3: 3rem;
    --gap-4: 4rem;

    /* ----- Font Size ----- */
    --fs-1: 3rem;
    --fs-2: 2.5rem;
    --fs-3: 2rem;
    --fs-4: 1.2rem;

    /* ----- Font ----- */
    --font: "Poppins", sans-serif;
}

/* ===== CONTAINER ===== */
.container{
    max-width: 1300px;
    padding: 1.25rem 6.25rem;
    margin: 0 auto;
}

/* ===== HEADER ===== */
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(/images/bg-hero.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
}

/* ===== NAV ===== */
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.nav-list{
    display: flex;
    gap: var(--gap-2);
}

.nav-item a{
    font-size: var(--fs-4);
    color: var(--clr-2);
}

.nav-item a:hover{
    color: var(--clr-1);
}

.nav-item a.active{
    color: var(--clr-1);
}

.search-box input{
    border-radius: 25px;
    padding: 0.75rem;
    width: 15rem;
    box-shadow: 0 0 10px gray;
    border: 2px solid transparent;
    outline: none;
}

.search-box input:focus{
    border-color: var(--clr-1);
}

.search-box ion-icon{
    display: none;
}

.mobile-icons{
    display: none;
}

/* ===== MAIN ===== */

/* ===== HERO WRAPPER ===== */
.hero-wrapper{
    background-image: url(/images/bg-hero.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: top center;
    padding-top: 5.2rem;
    width: 100%;
    height: 65rem;
}

/* ===== HERO ===== */
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.colored{
    color: var(--clr-1);
}

.hero-text{
    display: grid;
    gap: var(--gap-2);
}

.hero-text h1{
    font-size: var(--fs-1);
    font-weight: 700;
    line-height: 1.2;
    color: var(--clr-2);
    max-width: 32rem;
}

.hero-text p{
    font-size: var(--fs-4);
    max-width: 23rem;
    line-height: 1.4;
    color: var(--clr-3);
}

.hero-action-row{
    display: flex;
    gap: var(--gap-3);
    align-items: center;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-image img{
    width: 100%;
    max-width: 32rem;
    height: auto;
    object-fit: contain;
}

.hero-order-btn{
    padding: 0.625rem 1.8rem;
    border-radius: 25px;
    cursor: pointer;
    background-color: var(--clr-2);
    color: var(--clr-5);
}

/* ===== PROMO ===== */
.promo{
    margin-top: 6.5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--gap-1);
}

.promo h2{
    font-size: var(--fs-2);
    color: var(--clr-2);
}

.promo-image{
    display: flex;
    flex-wrap: nowrap;
    gap: var(--gap-1);
    max-width: 70rem;
    justify-content: center;
}

.promo-image img{
    width: 20rem;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.promo-image img:hover{
    transform: scale(1.05);
}

/* ===== RESPONSIVENESS ===== */
 
/* ===== TABLET ===== */
@media screen and (width>=768px) and (width<=1024px){

/* ===== ROOT VARIABLES ===== */
:root {
    /* ----- Spacing ----- */
    --gap-1: 0.8rem;
    --gap-2: 1.5rem;
    --gap-3: 2.5rem;
    --gap-4: 3.5rem;

    /* ----- Font Size ----- */
    --fs-1: 2.6rem;
    --fs-2: 2rem;
    --fs-3: 1.6rem;
    --fs-4: 1rem;
}
 
/* ===== CONTAINER ===== */
.container{
    max-width: 820px;
    padding: 1.25rem 2rem;
} 

/* ====== HEADER ===== */

.header{
    background-color: var(--clr-4);
    background-image: none;
}

/* ===== NAV ===== */
.search-box input{
    padding: 0.55rem;
    width: 12rem; 
}

/* ===== MAIN ===== */

/* ===== HERO WRAPPER ===== */
.hero-wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    height: 55rem;
}

/* ===== HERO ===== */
.hero{
    flex-direction: column-reverse;
    gap: var(--gap-4);
    text-align: center;
}

.hero-text h1{
    font-weight: 600;
    max-width: 100%;
}

.hero-text p{
    max-width: 100%;
}

.hero-action-row{
    justify-content: center;
}

.hero-image img{
    max-width: 20rem;  
}

/* ===== PROMO ===== */
.promo{
    margin-top: 3rem;
    gap: var(--gap-2);
}

.promo-image{
    max-width: 55rem;
}

.promo-image img{
    width: 14.5rem;
}

}

/* ===== MOBILE ===== */
@media screen and (width<=767px){

/* ===== ROOT VARIABLES ===== */
:root {
    /* ----- Spacing ----- */
    --gap-1: 0.6rem;
    --gap-2: 1rem;
    --gap-3: 1.5rem;
    --gap-4: 2rem;

    /* ----- Font Size ----- */
    --fs-1: 2rem;
    --fs-2: 1.6rem;
    --fs-3: 1.4rem;
    --fs-4: 1rem;
}

/* ===== CONTAINER ===== */
.container{
    max-width: 100%;
    width: 100%;
    padding: 0.9375rem 1.25rem;
}

/* ===== HEADER ===== */
.header{
    background-color: var(--clr-4);
    background-image: none;
}

/* ===== NAV ===== */
.nav-logo{
    order: 1;
}

.mobile-icons{
    order: 2;
    display: flex;
    gap: var(--gap-2);
    align-items: center;
    font-size: var(--fs-1);
    cursor: pointer;
    z-index: 3;
}

ion-icon{
    color: var(--clr-2);
}

ion-icon:hover{
    color: var(--clr-1);
}

/* ----- SEARCH BAR ----- */
.search-box{
    position: fixed;
    top: 0.625rem;
    right: 1.25rem;                  
    width: 0;                     
    height: 3.125rem;
    display: flex;
    align-items: center;
    background: transparent;
    z-index: 4;
    overflow: visible;
    transform-origin: right center;
    opacity: 0;
    transform: scaleX(0);
    transition: transform 0.35s ease, opacity 0.35s ease, width 0.35s ease;
}

.search-box.active {
    width: calc(100% - 2.5rem);
    opacity: 1;
    transform: scaleX(1);
}

.search-box ion-icon{
    display: block;
}

.search-back{
    position: absolute;
    left: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: var(--fs-3);
    color: var(--clr-2);
    cursor: pointer;
    z-index: 5;
}

.search-box input{
    width: 100%;
    border-radius: 25px;
    padding: 0.75rem;
    padding-left: 2.8125rem;
    background: var(--clr-4);
    font-size: var(--fs-4);
    color: var(--clr-2);
}

.nav-logo,
.mobile-icons {
    opacity: 1;
    transition: opacity 0.2s ease;
}

.nav-logo.invisible,
.mobile-icons.invisible{
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease;
}
 
/* ----- NAV MENU ----- */
.nav-menu{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 30vh;
    background: var(--clr-4);
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap-1);
    transition: top 0.7s ease;
}

.nav-menu.active{
    top: 0;
}

.nav-list{
    display: grid;
}

.nav-item{
    padding: 0.625rem;
    text-align: center;
}

.close-menu{
    display: none;
    z-index: 2;
}

.no-scroll{
    touch-action: none;
}

/* ===== MAIN ===== */

/* ===== HERO WRAPPER ===== */
.hero-wrapper{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

/* ===== HERO ===== */
.hero{
    flex-direction: column-reverse;
    gap: var(--gap-3);
}

.hero-text h1{
    max-width: 100%;
}

.hero-text p{
    max-width: 100%;
}

.hero-image img{
    max-width: 20rem;
}

.hero-action-row{
    flex-direction: column;
    gap: var(--gap-2);
}

.hero-order-btn{
    padding: 0.8rem 2.5rem;
}

/* ===== PROMO ===== */
.promo{
    margin-top: 3rem;
    gap: var(--gap-2);
}

.promo-image{
    flex-direction: column;
    gap: var(--gap-2);
    align-items: center;
}

.promo-image img{
    width: 100%;
    max-width: 16rem;
    height: auto;
}


}